<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h3>News source</h3>
    <div>
        {% for general_source in general %}
         <ul>
             <li>{{general_source.name}}</li>
             <li>{{general_source.description}}</li>
             <a href="{{general_source.url}}">View site</a>
         </ul>
      {% endfor %}
    </div>
    
</body>
</html>