<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for article_published in article: %}
        <h3>{{article_published.title}}</h3>
        <img src="{{article_published.urlToImage}}" alt="Article image">
         <ul>
             <li>{{article_published.author}}</li>
             <li>{{article_published.description}}</li>
             <a href="{{article_published.url}}">Read full article</a>
         </ul>
      {% endfor %}
</body>
</html>